<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Wiki</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Editing {{.Title}}</h1>
    <hr>
    <form action="/save/{{.Title}}" method="POST">
        <div>
            <textarea class="textarea" name="body" rows="20" cols="80">{{printf "%s" .Body}}</textarea>
        </div>
        <div>
            <input class="button" type="submit" value="SAVE">
        </div>
    </form>
</body>
</html>
